.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
}

.search_bar {
    position: relative;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.01);
}