<nav class="navbar navbar-expand-lg navbar-light" style="border: 15px; width: 100%;">
    <div class="container">
        <a class="navbar-brand" href="https://internshala.com">
            <img src="https://internshala.com/static/images/common/new_internshala_logo.svg">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div style="margin-left: 48%;" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id='internships' role="button" data-toggle="dropdown" data-bs-toggle="dropdown">
                        Internships
                        <i class="is_icon_header ic-24-filled-up-arrow"></i>
                    </a>
                    <ul id='intern_drop_list' class="dropdown-menu" aria-labelledby="navbarDropdown" >
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="online_training" role="button" data-toggle="dropdown" data-bs-toggle="dropdown">
                        Online Trainings
                        <i class="is_icon_header ic-24-filled-up-arrow"></i>
                    </a>
                    <ul id='training_drop_list' class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/fresher-jobs">Fresher Jobs</a>
                </li>
                <li class="nav-tem">
                    <button style="display: inline; margin: 0 5px;" class="btn btn-outline-primary">Login</button>
                </li>
                <li class="nav-item">
                    <button style="display: inline; margin: 0 5px;" class="btn btn-primary">Register</button>
                </li>
            </ul>

        </div>
    </div>
</nav>
<script src="js/navbar.js"></script>